#Constraints File.
 
NET "INVERT" LOC = "P11";
NET "LOGIC" LOC = "L3";
NET "READ_WRITE<1>" LOC = "K3";
NET "READ_WRITE<0>" LOC = "B4";
NET "BUFFER_IN<0>" LOC = "G3"; 
NET "BUFFER_IN<1>" LOC = "F3";
NET "BUFFER_IN<2>" LOC = "E2";
NET "BUFFER_IN<3>" LOC = "N3";
NET "clk" LOC = "B8";
## push buttons
Net "nAONLY" LOC = "A7";
NET "MANUAL_CLK" LOC = "M4";
NET "ACCUMULATORIE" LOC = "C11";
NET "ACCUMULATOROE" LOC = "G12";

# 7 Seg display position, an0 = msb of clock
NET "An<0>" LOC = "F12";
NET "An<1>" LOC = "J12";
NET "An<2>" LOC = "M13";
NET "An<3>" LOC = "K14";
# 7 Seg Display, number segments
NET "SSEG<0>" LOC = "L14";
NET "SSEG<1>" LOC = "H12";
NET "SSEG<2>" LOC = "N14";
NET "SSEG<3>" LOC = "N11";
NET "SSEG<4>" LOC = "P12";
NET "SSEG<5>" LOC = "L13";
NET "SSEG<6>" LOC = "M12";





